$darkPurple: #150832;
$medPurple: #3c2473;
$lightPurple: #623179;


@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');


body {
  font-family: 'Gloria Hallelujah', cursive;
  font-family: 'Patrick Hand', cursive;
}
